img {
    border: 0;
}
body
{
    margin: 0;
    font: 11pt Verdana, Tahoma, serif;
    background: #00579A;
}

.clear
{
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
}

#dContainer
{
    width: 780px;
}
#dContainer #dHeader
{
    height: 167px;
    background: #00579A url(../images/re_03.png) repeat-x scroll left top;
}
#dContainer #dHeader #h1Logo
{
    float: left;
    width: 234px;
    height: 167px;
    background: transparent url(../images/logo.png) no-repeat scroll left top;
    margin: 0;
    padding: 0 0 0 -100px;
    overflow: hidden;
    cursor: pointer;
}
#dContainer #dHeader #h1Logo a
{
    margin-left: -2000px;
}

#dContainer #dHeader #dBanner
{
    float: left;
    width: 511px;
    height: 114px;
    background: transparent url(../images/banner.png) no-repeat scroll left top;
}
#dContainer #dHeader #dTopMenu
{
    float: left;
}
#dContainer #dHeader #dTopMenu a
{
    color: White;
    text-decoration: none;
    margin: 5px 0 0 0;
    padding: 0 5px;
    display: block;
    float: left;
    font-size: 10pt;
}
#dContainer #dHeader #dTopMenu a:hover
{
    background: #50A1E3 none;
}


#dContainer #dBody
{
    background: white url(../images/leftmenuback.png) repeat-y scroll left top;
    min-height: 200px;
}
#dContainer #dBody #dBodyLeft
{
    width: 214px;
    float: left;
    font-size: 9pt;
    color: #808080;
}
#dContainer #dBody #dBodyLeft input[type=text], #dContainer #dBody #dBodyLeft input[type=password]
{
    width: 80px;
}
#dContainer #dBody #dBodyLeft a.cReklamLink
{
    margin: 0 0 0 10px;
    
}
#dContainer #dBody #dBodyLeft .cBlueIcon
{
    margin: 5px;
    background: transparent url(../images/IconBlue.png) no-repeat scroll left top;
    padding: 2px 0 0 20px;
    height: 18px;
}
#dContainer #dBody #dBodyLeft .cBlueIcon a
{
    color: #00579A;
    text-decoration: none;
}
#dContainer #dBody #dBodyLeft .cOrangeIcon
{
    margin: 5px;
    background: transparent url(../images/IconOrange.png) no-repeat scroll left top;
    padding: 2px 0 0 20px;
    height: 18px;
}
#dContainer #dBody #dBodyLeft .cOrangeIcon a
{
    color: #00579A;
    text-decoration: none;
}

#dContainer #dBody #dBodyRight
{
    width: 566px;
    float: left;
}


#dContainer #dFooter
{
    height: 100px;
    background: transparent url(../images/footerback.png) repeat-x scroll left top;
    padding: 50px 0 0 24px;
}
#dContainer #dFooter .dFooterSeperator
{
    float: left;
    display: block;
    width: 9px;
    height: 72px;
    background: transparent url(../images/fSeperator.png) no-repeat scroll left top;
}


#dContainer #dFooter #aFooterHakkimizda
{
    float: left;
    display: block;
    width: 209px;
    height: 58px;
    background: transparent url(../images/fhakkimizda.png) no-repeat scroll left top;
    margin: 7px 10px 0 10px;
}
#dContainer #dFooter #aFooterRehberlik
{
    float: left;
    display: block;
    width: 209px;
    height: 58px;
    background: transparent url(../images/fRehberlik.png) no-repeat scroll left top;
    margin: 7px 10px 0 10px;
}
#dContainer #dFooter #aFooterIletisimBilgilerimiz
{
    float: left;
    display: block;
    width: 209px;
    height: 58px;
    background: transparent url(../images/fIletisimBilgileri.png) no-repeat scroll left top;
    margin: 7px 10px 0 10px;
}
