#dHeader
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    background: blue url(c.png) repeat-x scroll top left;
}
#dBody
{
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 50px;
    background: yellow;
}
#dFooter
{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    background: blue url(c.png) repeat scroll left center;
}

.ara{
    background-color: Blue;
    background-image: url(m1_02.png);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: left top;
}
