body
{
    font: 10pt Tahoma, Verdana;
    font-weight: bold;
}

.cResim
{
    width: 283px;
    height: 330px;
    overflow: hidden;
}
.cResim .cResimYazisi
{
    width: 243px;
    height: 50px;
    margin-top: -60px;
    padding: 0 20px 10px 20px;
    text-align: center;
    color: White;
}

.cResim .cResimYaziArkasi
{
    width: 243px;
    height: 50px;
    margin-top: -60px;
    padding: 0 20px 10px 20px;
    background: black;
    opacity: 0.40;
    filter: alpha(opacity: 40);
}
